* {
    box-sizing: border-box;
}

.Main-container {
    background-color: rgb(19, 14, 14);
    height: 100vh;

}


.Mid-container {
    display: flex;
    justify-content: center;
    align-items: auto;
    padding-top: 30px;

}

.seat-container {
    width: 75%;

}

.detiales-container {
    width: 25%;


}

.Seat {
    height: 30px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    border-radius: 20px 20px 0px 0px;
    cursor: pointer;

}

.column-countainer {
    display: flex;
    gap: 10px;
    justify-content: center;


}

.Screen-container {
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(116, 116, 56);
}

.theater {
    width: 50%;
    height: 50px;
    background-color: rgb(19, 14, 14);
    border-radius: 50%;
    border-bottom: 5px solid #FFFFFF;
    filter: blur(2px);


}