body {

    /* background: rgb(240, 240, 240);
    color: white; */
    font-family: Sora;
}

.containertop {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 21%, rgba(7, 2, 31, 1) 50%, rgba(0, 0, 0, 1) 77%);

}

.container {

    display: flex;
    justify-content: space-around;

}

.card {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.img-container {
    background-color: black;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    border-color: black;
}

.img {
    /* background: url('../../../assets/wall\ image.png'); */
    background-size: 160%;
    background-position-x: center;
    height: 100%;
    border-color: black;
    border-top-left-radius: 30px;
    border-top-right-radius: 25px;
    transition: background-size 0.3s ease-in-out;
}

.card .content {
    position: absolute;
    padding: 1rem;
    bottom: 0;
    height: 18%;
    width: 100%;
    background: #00000050;
    backdrop-filter: blur(20px);
    border-radius: 25px;
    transition: height 0.3s ease-in-out;
}

.content .description {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.action-btn {
    float: right;
    padding: 0.5rem 1rem;
    font-family: inherit;
    background: #0AA0E2;
    border: 0;
    /* color: white; */
    border-radius: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.action-btn:hover {
    background: #098fc8;
}

.card:hover .content {
    height: 80%;
}

.card:hover .img {
    background-size: 150%;
}

.card:hover .content .description {
    opacity: 1;
}