.login_container {
	width: 100%;
	min-height: 100vh;
	background-color: #57a8cc;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.login_form_container {
	@media (max-width: 1200px) {
		width: 70%;
	}
	@media (max-width: 1100px) {
		width: 80%;
	}
	@media (max-width: 900px) {
		width: 90%;
	}
	@media (max-width: 750px) {
		width: 70%;
	}
	@media (max-width: 500px) {
		width: 80%;
	}
	@media (max-width: 400px) {
		width: 90%;
	}
	width: 60%;
	height: 500px;
	display: flex;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(246, 240, 240),
		0px 3px 4px 0px rgb(240, 233, 233), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
	flex: 1.5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #57a8cc;
	color: #edf5f3;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_container h1 {
	font-size: 40px;
	margin-top: 0;
}

.input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}

.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.right {
	@media (max-width: 750px) {
		display: none;
	}
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-size: cover;
    background-repeat: no-repeat;
	background-image: url('https://w0.peakpx.com/wallpaper/617/137/HD-wallpaper-movie-time-popcorn-red-stripes-blue-card.jpg');
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.right h1 {
	margin-top: 0;
	color: white;
	font-size: 40px;
	align-self: center;
}

.white_btn,
.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: rgb(30,29,34);
	border-radius: 20px;
	width: 180px;
	color: #edf5f3;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.green_btn {
	background-color: rgb(30,29,34);
	color: white;
	margin: 10px;
}


.signupSpan{
	@media (max-width: 750px) {
		display: block;
	}
	display: none;
}