* {
    box-sizing: border-box;

}

.Main-Container {
    background-color: #f2f2f2;

    height: 75vh;

    margin: 20px;

}


hr {
    margin: 0;
}

.status-indicaters {
    padding-top: 15PX;
    padding-right: 25px;

}

.Theater-container {
    display: flex;
    align-items: center;
    /* padding-top: 20px; */

}

.theater-Name-container {
    display: flex;
    align-items: center;
    width: 30%;

}

.Time-button {
    width: 100%;
    display: flex;

    justify-content: flex-start;
}